@font-face {
  font-family: 'karmen-icons';
  src:  url('fonts/karmen-icons.eot?apblc9');
  src:  url('fonts/karmen-icons.eot?apblc9#iefix') format('embedded-opentype'),
    url('fonts/karmen-icons.ttf?apblc9') format('truetype'),
    url('fonts/karmen-icons.woff?apblc9') format('woff'),
    url('fonts/karmen-icons.svg?apblc9#karmen-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'karmen-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-printer:before {
  content: "\e904";
}
.icon-chronometer:before {
  content: "\e905";
}
.icon-timer:before {
  content: "\e905";
}
.icon-clock:before {
  content: "\e905";
}
.icon-thermometer:before {
  content: "\e906";
}
.icon-github:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-youtube:before {
  content: "\e902";
}
.icon-readthedocs:before {
  content: "\e903";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-display:before {
  content: "\e956";
}
.icon-cog:before {
  content: "\e994";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-plus:before {
  content: "\ea0a";
}
