@font-face {
  font-family: 'karmen';
  src:  url('fonts/karmen.eot?br7qug');
  src:  url('fonts/karmen.eot?br7qug#iefix') format('embedded-opentype'),
    url('fonts/karmen.ttf?br7qug') format('truetype'),
    url('fonts/karmen.woff?br7qug') format('woff'),
    url('fonts/karmen.svg?br7qug#karmen') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'karmen' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kebab:before {
  content: "\e90d";
}
.icon-edit:before {
  content: "\e90a";
}
.icon-stop:before {
  content: "\e905";
}
.icon-play:before {
  content: "\e904";
}
.icon-refresh:before {
  content: "\e903";
}
.icon-pause:before {
  content: "\e902";
}
.icon-down:before {
  content: "\e90c";
}
.icon-up:before {
  content: "\e90b";
}
.icon-check:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e908";
}
.icon-trash:before {
  content: "\e907";
}
.icon-printer:before {
  content: "\e906";
}
.icon-close:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e901";
}
