@font-face {
  font-family: 'karmen';
  src:  url('fonts/karmen.eot?f9p5jo');
  src:  url('fonts/karmen.eot?f9p5jo#iefix') format('embedded-opentype'),
    url('fonts/karmen.ttf?f9p5jo') format('truetype'),
    url('fonts/karmen.woff?f9p5jo') format('woff'),
    url('fonts/karmen.svg?f9p5jo#karmen') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'karmen' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e902";
}
.icon-house:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-arrow-left:before {
  content: "\e904";
}
.icon-arrow-down:before {
  content: "\e905";
}
.icon-arrow-up:before {
  content: "\e910";
}
.icon-list:before {
  content: "\e90f";
}
.icon-grid:before {
  content: "\e90e";
}
.icon-icons:before {
  content: "\e90e";
}
.icon-kebab:before {
  content: "\e90d";
}
.icon-edit:before {
  content: "\e90a";
}
.icon-down:before {
  content: "\e90c";
}
.icon-up:before {
  content: "\e90b";
}
.icon-check:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e908";
}
.icon-trash:before {
  content: "\e907";
}
.icon-printer:before {
  content: "\e906";
}
.icon-close:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e901";
}
