[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-xdist = "*"
mock = "*"
pylint = "*"
black = "==19.*"
coverage = "==4.5.4"
python-coveralls = "*"

[packages]
flask = "*"
flask-cors = "*"
requests = "*"
celery = "*"
psycopg2 = "*"
redis = "*"
watchdog = "*"
yandex-pgmigrate = "*"
bcrypt = "*"
flask-jwt-extended = "*"
flask-executor = "*"
sentry-sdk = {extras = ["flask"],version = "==0.14.4"}
argh = "*"
boto3 = "*"
connexion = "==2.7.0"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
