@import "fonts";
@import "reset.css";
@import "./icons/style.css";
@import "variables";
@import "mixins";
@import "react-tabs";
@import "react-toastify";
@import "../../node_modules/plumber-sass/plumber";

@include plumber-set-defaults(
  $grid-height: 1rem,
  $baseline: 0.15,
  $font-size: 1.75,
  $line-height: 3,
  $leading-top: 1,
  $leading-bottom: 2
);

* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba($color-secondary, .75);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: $sans-serif;
  color: $txt-color;
  background: $bg-color;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input:disabled {
  background: $border-color-light!important
}

.honeypot-field {
  position: absolute !important;
  top: -30em !important;
}

h1 {
  @include plumber(
    $font-size: 3,
    $leading-top: 0,
    $leading-bottom: 0
  );
}

h2 {
  @include plumber(
    $font-size: 2.1,
    $leading-top: 0,
    $leading-bottom: 0
  );
}

h3 {
  @include plumber(
    $font-size: 1.7,
    $leading-top: 0,
    $leading-bottom: 0
  );
}

a {
  color: $txt-color;
}

strong, b {
  font-weight: 700;
}

small {
  font-size: 80%;
}

sup {
  font-size: smaller;
  vertical-align: super;
}

p {
  @include plumber(
    $leading-top: 0,
    $leading-bottom: 2
  );
}

footer {
  width: 100%;
  text-align: center;

  @include plumber(
    $leading-top: 4,
    $leading-bottom: 3
  );
}

.img-responsive {
  max-width: 100%
}

.text-center {
  text-align: center;
}

.text-reset {
  font-weight: normal;
  text-decoration: none;
  font-variant: normal;
}

.text-mono {
  font-family: $mono;
  // font-size: 1.3rem
}

.hidden {
  display: none;
}

.hidden-xs {
  display: none!important;

  @media (min-width: $screen-sm-min) {
    display: block!important;
  }
}

.visible-xs {
  @media (min-width: $screen-sm-min) {
    display: none!important;
  }
}

.hidden-xs-inline {
  display: none!important;

  @media (min-width: $screen-sm-min) {
    display: inline-block!important;
  }
}

.visible-sm {
  @media (min-width: $screen-md-min) {
    display: none!important;
  }
}

.visible-md {
  display: none;

  @media (min-width: $screen-md-min) {
    display: block;
  }
}

.pointer {
  cursor: pointer;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  @include blurred-bg;

  .navigation-content {
    display: flex;
    height: $navigation-height-xs;
    max-width: $screen-md-min;
    margin: 0 auto;
    padding: 0 $spacing-default/2;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $screen-sm-min) {
      @include plumber(
        $leading-top: 1,
        $leading-bottom: 1
      );
    }
  }

  .navigation-brand {
    display: flex;
    align-items: center;
    font-size: 1.5rem;

    img {
      height: $logo-height-xs;
      margin-right: $base-unit*2;
    }
  }

  .navigation-items {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 7rem 0;
    flex-direction: column;
    align-items: center;
    background: $bg-color;
    overflow: auto;
    @include blurred-bg(.95);

    @media (min-width: $screen-sm-min) {
      padding: 10rem 0;
    }
  }

  .navigation-items-main {
    display: flex;

    .navigation-item {
      @include plumber(
        $font-size: 2,
        $leading-top: 0,
        $leading-bottom: 0,
        $line-height: 3
      );

      margin: 0;
      padding: 0;

      @media (min-width: $screen-sm-min) {
        margin: 0 0 0 $base-unit*6;
      }
    }
  }

  .navigation-item {
    display: inline-block;

    @include plumber(
      $font-size: $navigation-font-size-xs,
      $leading-top: 0,
      $leading-bottom: 0,
      $line-height: 5
    );

    &:hover {
      text-decoration: underline;
    }
  }

  .navigation-toggle {
    display: inline-block;
    z-index: 1;
    outline: none;
    padding: 0;

    @include button-reset;

    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }

  .navigation-toggle-label {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
  }

  .navigation-title {
    min-width: 300px;
    border-bottom: $border-light;
    text-align: center;

    @include plumber(
      $leading-top: 8,
      $leading-bottom: 2
    );

    &:first-child {
      @include plumber(
        $leading-top: 0,
        $leading-bottom: 2
      );
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .navigation-title-avatar {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto $base-unit*3;
    border: 6px solid #fff;
    background: #fff;
    overflow: hidden;

    img {
      max-width: 100%;
      max-height: 100%;

      &.default {
        max-height: 85%;
        margin: $base-unit;
      }
    }
  }

  .navigation-title-content {
    position: relative;

    @include plumber(
      $font-size: 1.618,
      $leading-top: 0
    );

    .icon-settings {
      position: absolute;
      top: $base-unit*2;
      padding-left: $base-unit*2;
    }
  }

  .dropdown {
    .dropdown-items {
      @media (min-width: $screen-sm-min) {
        top: $base-unit*4;
      }
    }

    .dropdown-item {
      @media (min-width: $screen-sm-min) {
        padding: $base-unit*2 $base-unit*3
      }
    }
  }
}

.main {
  background: $bg-color;
}

.container {
  padding: 0 $spacing-default/2;
}

.main-title,
.main-subtitle {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: $mono;

  @include plumber(
    $font-size: 3,
    $leading-top: 1,
    $leading-bottom: 0,
    $line-height: 4
  );

  @media (min-width: $screen-sm-min) {
    @include plumber(
      $font-size: 3.5,
      $leading-top: 4,
      $leading-bottom: 3,
      $line-height: 4
    );
  }

  &.text-center {
    display: block;
  }

  @media (max-width: $screen-sm-max) {
    .btn {
      margin-top: $base-unit;
    }
  }
}

.main-subtitle {
  @include plumber(
    $font-size: 2.1,
    $leading-top: 0,
    $leading-bottom: 4
  );
}

.content {
  position: relative;
  max-width: $screen-md-min;
  margin: 0 auto;
  // padding: $navigation-height-xs 0 $spacing-default;
  @include plumber(
    $font-size: 1.5,
    $leading-top: 7,
    $leading-bottom: 4,
    $line-height: 2
  );
}

.cta-box {
  @include plumber(
    $leading-top: 3,
    $leading-bottom: 4
  );

  .btn {
    margin-right: $base-unit;

    &:last-child {
      margin-right: 0
    }
  }

  small {
    display: block;

    @include plumber(
      $font-size: 1.2,
      $leading-top: 4,
      $leading-bottom: 0,
      $line-height: 2
    );
  }
}

.text-secondary {
  color: $color-secondary;
}

.text-normal {
  color: $txt-color;
}

.text-success {
  color: $color-success;
}

.text-warning {
  color: $color-warning;
}

.anchor {
  color: $color-secondary;
  text-decoration: underline;
  word-break: break-all;

  &:hover {
    text-decoration: none;
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    @include plumber(
      $font-size: 2.5,
      $leading-top: 16,
      $leading-bottom: 8
    );
  }
}

.btn {
  display: inline-block;
  outline: none;
  border: none;
  padding: $base-unit*2 $base-unit*3;
  background: $color-secondary;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 1.618;

  &:hover {
    cursor: pointer;
    background: darken($color-secondary, 10%);
  }

  &.btn-sm {
    height: 4rem;
    padding: $base-unit $base-unit*2;
    font-size: 1.4rem;
    line-height: 1.6;
  }

  &.btn-xs {
    padding: $base-unit/2 $base-unit;
    font-size: 1.2rem;
    vertical-align: middle;
  }

  &.btn-formsized {
    height: $form-elements-height;
    padding: $base-unit $base-unit*2;
    font-size: 1.4rem;
  }

  &:disabled {
    background: #adadad;

    &:hover {
      cursor: auto;
      background: #adadad;
    }
  }

  &:focus {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .75)
  }

  &.btn-plain {
    border: none;
    background-color: transparent;
    color: $color-secondary;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  &.btn-outline {
    background: #fff;
    color: $color-secondary;
    border:1px solid $color-secondary;

    &:hover {
      background: $color-secondary;
      color: #fff;
    }
  }

}

.btn-reset {
  @include button-reset;
}

.anchor {
  color: map-get($palette, red);
}

.dl-horizontal {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: $base-unit;

  @media (min-width: $screen-sm-min) {
    grid-template-columns: 25fr 75fr;
    @include plumber(
      $font-size: 1.618,
      $line-height: 3,
      $leading-top: 0,
      $leading-bottom: 1
    );
  }

  .term {
    @include plumber(
      $font-size: 1.618,
      $line-height: 2,
      $leading-top: 1,
      $leading-bottom: 0
    );

    @media (min-width: $screen-sm-min) {
      @include plumber(
        $font-size: 1.618,
        $line-height: 3,
        $leading-top: 0,
        $leading-bottom: 1
      );
    }
  }

  .description {
    font-weight: bold;
    overflow-x: hidden;
    overflow-wrap: break-word;

    @include plumber(
      $font-size: 1.618,
      $line-height: 2,
      $leading-top: 0,
      $leading-bottom: 0
    );

    @media (min-width: $screen-sm-min) {
      @include plumber(
        $font-size: 1.618,
        $line-height: 3,
        $leading-top: 0,
        $leading-bottom: 1
      );
    }
  }
}

.progress {
  width: 100%;
  background: #fff;

  .progress-bar {
    background: $color-secondary;
    height: $base-unit/2;
  }
}

.list {
  &.grid {
    .list-items {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      align-items: start;
      grid-column-gap: $base-unit*2;
      grid-row-gap: $base-unit*4;

      @media (min-width: $screen-landscape-xs-min) {
        grid-template-columns: 1fr 1fr;
      }

      @media (min-width: $screen-sm-min) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      .list-item {
        padding: 0;
        border-top: none;
      }

      .list-item-title {
        @include plumber(
          $leading-top: 0,
          $leading-bottom: 0,
          $font-size: 2.1,
          $line-height: 3
        );

        @media (min-width: $screen-sm-min) {
          @include plumber(
            $leading-top: 1,
            $leading-bottom: 0,
            $font-size: 2.1,
            $line-height: 3
          );
        }
      }
    }
  }

  .dropdown-toggle {
    padding: 0 $spacing-default/2;
    text-transform: capitalize;

    @include plumber(
      $leading-top: 2,
      $leading-bottom: 1,
      $font-size: 1.3,
      $line-height: 2
    );

    [class^="icon-"] {
      margin-left: $base-unit/2;
      font-size: 1.5rem;
    }
  }


  .list-header {
    min-height: $spacing-default;

    @media (min-width: $screen-sm-min) {
      min-height: $spacing-default*1.5;
    }
  }

  .list-search {
    padding: 0 $base-unit*2;

    @include plumber(
      $leading-top: 1,
      $leading-bottom: 2
    );

    @media (min-width: $screen-sm-min) {
      @include plumber(
        $leading-top: 1,
        $leading-bottom: 2
      );
    }

    label {
      display: block;
      position: relative;
      color: rgba(0, 0, 0, .6);
    }

    .icon {
      position: absolute;
      top: 12px;
      left: 12px;
      font-size: 2.4rem;
      color: $border-color;

      & + input {
        padding-left: $base-unit*6;
      }
    }

    input {
      width: 100%;
    }
  }

  .list-view-switch {
    float: right;
    padding: 0 $base-unit;
    font-size: 3rem;

    button {
      color: map-get($palette, "gray-medium");
      cursor: pointer;

      &:hover {
        color: map-get($palette, "gray-dark");
      }
    }

    .active,
    .active:hover {
      color: #000;
    }
  }

  .list-pagination {
    padding: $spacing-default 0 $spacing-default*2;
    text-align: center;
  }

  .list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $list-border-color;
  }

  .list-item-content {
    width: 100%;
    padding: 0 $base-unit*2;

    @include plumber(
      $leading-top: 1,
      $leading-bottom: 2,
      $line-height: 2,
      $font-size: 1.618
    );

    @media (min-width: $screen-sm-min) {
      @include plumber(
        $leading-top: 1,
        $leading-bottom: 1,
        $line-height: 3,
      );
    }


    &.list-item-inverse {
      padding: $base-unit*2;
      background: $color-secondary;

      .list-item-title,
      .list-item-cta button {
        color: #fff!important;
      }
    }
  }

  .list-item-message {
    display: block;
    padding: 0 $base-unit*2;
    font-weight: bold;
    @include plumber(
      $leading-top: 1,
      $leading-bottom: 1,
      $line-height: 3,
      $font-size: 1.618
    );
  }

  .list-item-illustration {
    width: 100%;
    margin-bottom: $base-unit;
    background: #ccc;
  }

  .list-item-content {
    display: block;
    width: 100%;
    color: $color-light;
    word-break: break-word;
  }

  .list-item-title,
  .list-item-subtitle {
    display: block;
    color: $txt-color-accented;
  }

  .list-item-title {
    @include plumber(
      $leading-top: 0,
      $leading-bottom: 0,
      $font-size: 2.1,
      $line-height: 3
    );
  }

  .list-item-property {
    max-height: 4rem;
    overflow-x: hidden;

    @media (min-width: $screen-sm-min) {
      max-height: 6rem;
    }
  }

  .list-item-cta {
    white-space: nowrap;

    & > * {
      margin-left: $base-unit;
      padding: $base-unit $base-unit*2;

      @media (min-width: $screen-md-min) {
        padding: 0;
        margin-left: $base-unit*2;
      }
    }

    [class^="icon-"] {
      font-size: 2rem;
    }
  }
}

.dropdown {
  position: relative;

 .dropdown-toggle {
    [class^="icon-"] {
      margin-left: 2px;
    }
  }

  .dropdown-items {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    align-items: flex-end;;
    z-index: 1;

    @media (min-width: $screen-sm-min) {
      position: absolute;
      top: auto;
      left: -$base-unit*3;
      height: auto;
      bottom: auto;
      width: auto;
      box-shadow: $shadow-default;
    }
  }

  .dropdown-items-content {
    width: 100%;
  }

  &.list-cta {
    .dropdown-items {
      left: auto;
      right: 0;
    }
  }

  .dropdown-item {
    @include button-reset();
    display: flex;
    position: relative;
    width: 100%;
    padding: $base-unit*2 $spacing-default/2;
    background: #fff;
    text-align: left;
    z-index: 1;
    align-items: center;

    @media (min-width: $screen-sm-min) {
      width: auto;
      min-width: 300px;
      padding: $base-unit*2 $spacing-default/2;
    }

    &:hover {
      background:darken($bg-color, 5%);
    }

    &.active {
      color: $color-secondary;
    }

    [class^="icon-"] {
      display: block;
      width: $base-unit*2;
      margin-right: $base-unit;
      font-size: 1.6rem;
    }
  }

  &.sorting .dropdown-item {
    text-transform: capitalize;
  }

  .dropdown-title {
    display: flex;
    position: relative;
    width: 100%;
    padding: $base-unit*2 $spacing-default/2;
    background: #fff;
    text-align: left;
    z-index: 1;
    font-size: 1.3rem;
    font-weight: bold;
    border-bottom: 1px solid $list-border-color;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;

    @media (min-width: $screen-sm-min) {
      display: none;
    }
  }

  .dropdown-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    @media (max-width: $screen-sm-max) {
      background: rgba(0, 0, 0, .5);
    }
  }
}

input[type=text],
input[type=email],
input[type=search],
input[type=password],
select {
  height: $form-elements-height;
  padding: $base-unit;
  background-color: #fff;
  border: $border-default;
  color: #000;
  font-family: $sans-serif;
}

.input-group {
  display: grid;
  grid-gap: .2rem 1rem;
  align-items: center;

  label {
    position: relative;
    color: rgba(0, 0, 0, .6);

    &.input-group-title {
      text-align: left;
      padding-top: $base-unit*3;
    }

    .input-label-icon {
      position: absolute;
      top: 19px;
      left: 12px;
      font-size: 2.4rem;
      color: $border-color;

      & + input {
        padding-left: $base-unit*6;
      }
    }
  }

  input,
  select,
  textarea {
    width: 100%;
    max-width: 100%;
    margin: 0 0 $base-unit*2;
    border: $border-default;
    border-radius: 0;

    @media (min-width: $screen-sm-min) {
      min-width: 300px;
    }
  }

  textarea {
    height: 7em;
    padding: $base-unit;
  }

  select {
    overflow: auto;
  }

  small {
    display: block;
    padding: 0 0 $base-unit 0;
    color: #ea272e;
    font-weight: bold;
    text-align: left;
    font-size: 80%;

    @media (max-width: $screen-sm-min) {
      margin-top: -12px;
    }

    &.help {
      color: $color-light;
    }
  }

  @media (min-width: $screen-sm-min) {
    grid-template-columns: 1fr auto 1fr;
    grid-gap: .5rem 1rem;

    label {
      text-align: right;
    }

    input,
    select,
    textarea {
      margin: $base-unit 0;
    }

    small {
      padding: 0 0 0 $spacing-default;
    }
  }
}

.input-group-line {
  display: flex;
  align-items: center;
}

.inline-form {
  display: inline-flex;

  &.inline-form-sm {
    input[type=text],
    input[type=email],
    input[type=search],
    input[type=password],
    select {
      height: 4rem;
    }
  }
}

.form-messages {
  @include plumber(
    $leading-top: 2,
    $leading-bottom: 0
  );
}

.message-default,
.message-success,
.message-error {
  text-align: center;
  font-weight: bold;
}

.message-success {
  color: $color-success;
}

.message-error {
  color: $color-secondary;
}

.heartbeat {
  margin-top: $navigation-height-xs;

  @media (min-width: $screen-sm-min) {
    margin-top: $navigation-height;
  }
}

.webcam-stream {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #adadad;
  color: map-get($palette, "gray-light");
  font-size: 2rem;

  &.unavailable {
    padding: $spacing-default*3 $spacing-default;
  }

  img {
    width: 100%
  }
   img.flip-horizontal {
    transform: scaleX(-1);
  }

  img.flip-vertical {
    transform: scaleY(-1);
  }

  img.rotate-90 {
    transform: rotate(90deg);
  }

  img.flip-horizontal.flip-vertical {
    transform: scaleX(-1) scaleY(-1);
  }
}

.webcam-modal {
  position: static;
  z-index: 4;
  top: 0;
  left: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;

  .modal-close {
    color: #fff;
  }

  .webcam-modal-stream {
    top:0;
    left:0;
    height: 90%;
    width: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .flip-horizontal {
    transform: scaleX(-1);
  }

  .flip-vertical {
    transform: scaleY(-1);
  }

  .rotate-90 {
    transform: rotate(90deg);
  }

  .flip-horizontal.flip-vertical {
    transform: scaleX(-1) scaleY(-1);
  }

}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 0 $spacing-default;
  background: #fff;
  box-shadow: $shadow-default;


  @media (min-width: $screen-sm-min) {
    width: 100%;
    min-width: 80rem;
    height: auto;
    padding: 0 $spacing-default * 2;

    @include plumber(
      $leading-top: 0,
      $leading-bottom: 3
    );
  }

  .modal-title {
    @include plumber(
      $font-size: 3,
      $leading-top: 8,
      $leading-bottom: 3,
      $line-height: 5
    );
  }

  .modal-subtitle {
    @include plumber(
      $leading-top: 0,
      $leading-bottom: 2
    );
  }

  .cta-box {
    @include plumber(
      $leading-top: 2,
      $leading-bottom: 8
    );
  }

  .loader {
    @include plumber(
      $leading-top: 6,
      $leading-bottom: 6
    );
  }
}

.modal-content-narrow {
  padding: 0 $spacing-default;

  @media (min-width: $screen-sm-min) {
    padding: 0 $spacing-default * 4;
  }
}

.modal-close {
  @include button-reset;
  position: absolute;
  top: $spacing-default/2;
  right: $spacing-default/2;
  text-align: right;
  font-size: 2rem;
  cursor: pointer;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  @include blurred-bg(.4);
}

#passphrase-reveal {
  height: 100%;
  @include button-reset;
}

// PRINTER DETAIL PAGE
.printer-detail {
  .printer-detail-meta .main-title {
    margin-bottom: 0;
    word-break: break-all;

    @media (max-width: $screen-xs-max) {
      margin-top: $base-unit;
    }
  }

  .printer-state {
    @include plumber(
      $leading-top: 0,
      $leading-bottom: 1
    );
  }

  .printer-state-announcement {
    @include plumber(
      $leading-top: 3,
      $leading-bottom: 0,
      $font-size: 2
    );
  }

  @media (max-width: $screen-sm-max) {
    .printer-detail-controls {
      margin-top: $spacing-default;
    }
  }

  .printer-detail-name {
    word-break: break-all;
  }


  @media (min-width: $screen-sm-min) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:  "title title"
    "meta stream"
    "controls controls";
    grid-gap: $base-unit*3 $spacing-default;

    .printer-detail-name {
      grid-area: title;
    }

    .printer-detail-stream {
      grid-area: stream;
    }

    .printer-detail-meta {
      grid-area: meta;

      .main-title {
        margin-bottom: 0;
      }

      .dl-horizontal {
        grid-template-columns: 35fr 65fr;
      }
    }

    .printer-detail-controls {
      grid-area: controls;
    }
  }

  .printer-control-panel {
    @media (min-width: $screen-sm-min) {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-gap: $spacing-default;
    }

    .controls {
      @media (min-width: $screen-sm-min) {
        display: grid;
        grid-gap: $base-unit;
        align-items: center;
        grid-template-columns: auto minmax(0, 1fr);
      }

      .btn {
        margin-right: $base-unit/2;
      }

      .input-appendix {
        display: inline-block;
        margin: 0 $base-unit 0 $base-unit/2;
      }


      @media (max-width: $screen-sm-min) {
        > div {
          margin-bottom: $spacing-default/2;
        }
      }
    }

    .axes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: $spacing-default;

      .axes-content-title {
        display: block;
        margin-bottom: $spacing-default/2;
        text-align: center;
        white-space: nowrap;

        @media (max-width: $screen-sm-min) {
          margin-bottom: $spacing-default/2;
        }
      }

      .axes-content-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
      }
    }
  }

  .printer-control-panel,
  .printer-settings {
    @include plumber(
      $font-size: 1.618,
      $line-height: 3,
      $leading-top: 2,
      $leading-bottom: 1
    );

    input {
      width: 4em;
      height: auto;
      margin: $base-unit/2 0;
      padding: 0 $base-unit/2;
      border: $border-default;
      border-radius: 0;
    }

    label {
      text-align: left;
      color: map-get($palette, black);
    }
  }

  .printer-connection-status,
  .printer-settings {
    padding-top: $spacing-default/2;
  }
}


.printer-status-label {
  //font-size: 11px;
  padding: 5px;
  margin-right: 10px;
    color: white;

}

.printer-status-label.red {
  background: #a40000;
}

.printer-status-label.green {
  background: #038600;
}

.printer-status-label.orange {
  background: #ff9900;
}

.printer-status-label.blue {
  background: #0374ff;
}
.printer-status-label.gray {
  background: #9e9e9e;
}


// API TOKEN PAGE
pre {
  padding: $spacing-default;
  margin-top: $spacing-default;
  background: map-get($palette, gray-light);
}

ul.ul-styled {
  list-style-type: square;
  margin-left: $spacing-default/1.5;
}


// TABS CONTENT
.tabs-content-message {
  @include plumber(
    $font-size: 1.618,
    $leading-top: 1,
    $leading-bottom: 0
  );
}

