@import "fonts.css";
@import "reset.css";

:root {
  --base-unit: 8px;
  --spacing-default: 32px;
  --color-primary: #000;
  --color-secondary: #ea272e;
}

body {
  text-align: center;
  padding: var(--spacing-default);
  font-family: "Andulka Text Pro", serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "kern", "onum", "liga";
}

h1, h2, h3 {
  font-family: "Trivia Grotesk N2", sans-serif;
}

h1 {
  font-size: 72px;
}

ul {
  list-style-type: square;
  text-align: left;
  font-weight: normal;
  font-style: normal;
}

header,
article {
  max-width: 768px;
  margin: 0 auto;
}