/* @note: make sure you update fonts preload section in head.html when this changes */
@font-face {
    font-family: "Andulka Text Pro";
    src: url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/AndulkaTextPro.woff") format("woff");
    src: url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/AndulkaTextPro.eot");
    src: url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/AndulkaTextPro.eot#iefix") format("embedded-opentype"),
        url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/AndulkaTextPro.woff") format("woff"),
        url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/AndulkaTextPro.ttf") format("truetype"),
        url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/AndulkaTextPro.svg") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Andulka Text Pro";
    src: url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/AndulkaTextPro-Italic.woff") format("woff");
    src: url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/AndulkaTextPro-Italic.eot");
    src: url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/AndulkaTextPro-Italic.eot#iefix") format("embedded-opentype"),
        url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/AndulkaTextPro-Italic.woff") format("woff"),
        url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/AndulkaTextPro-Italic.ttf") format("truetype"),
        url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/AndulkaTextPro-Italic.svg") format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Andulka Text Pro";
    src: url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/AndulkaTextPro-Bold.woff") format("woff");
    src: url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/AndulkaTextPro-Bold.eot");
    src: url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/AndulkaTextPro-Bold.eot#iefix") format("embedded-opentype"),
        url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/AndulkaTextPro-Bold.woff") format("woff"),
        url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/AndulkaTextPro-Bold.ttf") format("truetype"),
        url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/AndulkaTextPro-Bold.svg") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Andulka Text Pro";
    src: url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/AndulkaTextPro-BoldItalic.woff") format("woff");
    src: url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/AndulkaTextPro-BoldItalic.eot");
    src: url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/AndulkaTextPro-BoldItalic.eot#iefix") format("embedded-opentype"),
        url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/AndulkaTextPro-BoldItalic.woff") format("woff"),
        url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/AndulkaTextPro-BoldItalic.ttf") format("truetype"),
        url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/AndulkaTextPro-BoldItalic.svg") format("svg");
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Trivia Grotesk N2";
    src: url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/TriviaGroteskN2-Bold.woff") format("woff");
    src: url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/TriviaGroteskN2-Bold.eot");
    src: url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/TriviaGroteskN2-Bold.eot#iefix") format("embedded-opentype"),
        url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/TriviaGroteskN2-Bold.woff") format("woff"),
        url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/TriviaGroteskN2-Bold.ttf") format("truetype"),
        url("https://res.cloudinary.com/fragaria/raw/upload/v1534234755/fragaria.cz/fonts/TriviaGroteskN2-Bold.svg") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}
