@font-face {
  font-family: 'Monoid';
  src: url('fonts/Monoid-Retina.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Monoid';
  src: url('fonts/Monoid-Bold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}


@font-face {
  font-family: 'Monoid';
  src: url('fonts/Monoid-Italic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}
