@import "./variables";

@mixin blurred-bg ($aplha: .75) {
  backdrop-filter: saturate(180%) blur(10px);
  background: rgba($bg-color, $aplha);
}

@mixin button-reset () {
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
