@import "../../node_modules/plumber-sass/plumber";
@import "variables";

@include plumber-set-defaults(
  $grid-height: 1rem,
  $baseline: 0.15,
  $font-size: 1.75,
  $line-height: 3,
  $leading-top: 1,
  $leading-bottom: 2
);


.react-tabs {
  -webkit-tap-highlight-color: transparent;

  &__tab-list {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $border-color;
    list-style: none;
    overflow: auto;

    @include plumber(
      $leading-top: 2,
      $leading-bottom: 0
    );
  }

  &__tab {
    position: relative;
    padding: 0 $base-unit*2;
    color: $color-light;
    white-space: nowrap;

    @include plumber(
      $font-size: 1.618,
      $line-height: 3,
      $leading-top: 0,
      $leading-bottom: 1
    );

    &:hover {
      color: $color-primary;
      cursor: pointer;
    }

    &--selected {
      font-weight: bold;
      color: $color-primary;

      &:after {
        content: " ";
        position: absolute;
        bottom: -12px;
        left: 0;
        height: 3px;
        width: 100%;
        background: $color-secondary;
      }

      &:hover {
        cursor: default;
      }
    }

    &--disabled {
      color: GrayText;
      cursor: default;
    }
  }

  &__tab-panel {
    display: none;
    margin-bottom: $spacing-default;

    &--selected {
      display: block;
    }

    &__header {
      display: flex;
      width: 100%;
      padding: $base-unit*3 0;
      justify-content: space-between;

      &__title {
        font-size: 2.4rem;
      }
    }
  }
}
