@import "fonts";
@import "reset.css";
@import "./icons/style.css";
@import "variables";
@import "mixins";
@import "react-tabs";


* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba($color-secondary, .75);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: $sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.618;
  letter-spacing: -0.015rem;
  color: $txt-color;
  background: $bg-color;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.7rem
}

a {
  color: $txt-color;
}

strong, b {
  font-weight: 700;
}

small {
  font-size: 80%;
}

p {
  margin-bottom: $base-unit;
}

footer {
  width: 100%;
  padding: $spacing-default*3 0 $spacing-default*2;
  text-align: center;
}

.img-responsive {
  max-width: 100%
}

.text-center {
  text-align: center;
}

.text-reset {
  font-weight: normal;
  text-decoration: none;
  font-variant: normal;
}

.text-mono {
  font-family: $mono;
  // font-size: 1.3rem
}

.hidden {
  display: none;
}

.hidden-xs {
  display: none!important;

  @media (min-width: $screen-sm-min) {
    display: block!important;
  }
}

.visible-xs {
  @media (min-width: $screen-sm-min) {
    display: none!important;
  }
}

.hidden-xs-inline {
  display: none!important;

  @media (min-width: $screen-sm-min) {
    display: inline-block!important;
  }
}

.visible-sm {
  @media (min-width: $screen-md-min) {
    display: none!important;
  }
}

.visible-md {
  display: none;

  @media (min-width: $screen-md-min) {
    display: block;
  }
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 $base-unit*2;
  z-index: 1;
  @include blurred-bg;

  .navigation-content {
    display: flex;
    height: $navigation-height-xs;
    max-width: $screen-md-min;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $screen-sm-min) {
      padding: 0 $spacing-default/2;
    }
  }

  .navigation-brand {
    display: inherit;
    img {
      height: $logo-height-xs;
    }
  }

  .navigation-items {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background: $bg-color;
    font-size: $navigation-font-size-xs;
    padding: 10rem 0;
    line-height: 2;
    overflow: auto;
    @include blurred-bg(.95);
  }

  .navigation-toggle {
    font-size: 3rem;
    z-index: 1;
    outline: none;
    padding: 0;
    @include button-reset;

    &:hover {
      cursor: pointer;
    }
  }

  .navigation-toggle-label {
    font-size: 2.5rem;
  }

  .navigation-user {
    min-width: 300px;
    margin-bottom: $spacing-default;
    padding-bottom: $spacing-default;
    border-bottom: $border-light;
    text-align: center;
    // font-size: 2.5rem;
    line-height: $line-height-default;
  }

  .navigation-user-avatar {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto $base-unit;
    border-radius: 120px;
    border: 6px solid #fff;
    box-shadow: 0 0 4px 0 rgba(37, 42, 49, 0.3);
    background: #fff;
    overflow: hidden;

    img {
      max-width: 100%;
      max-height: 100%;

      &.default {
        max-height: 85%;
        margin: $base-unit;
      }
    }
  }

  .navigation-user-organization {
    font-size: 1.5rem;
  }

  .navigation-user-organization-toggle {
    display: block;
    min-width: 300px;
    border-top: $border-light;
    padding: $base-unit*3 $spacing-default/2 0;
    margin-top: $base-unit*3;
    text-align: center;
  }
}

.main {
  background: $bg-color;
}

.container {
  padding: 0 $spacing-default/2;
}

.main-title {
  display: flex;
  width: 100%;
  margin: $spacing-default*2 0 $spacing-default;
  align-items: center;
  justify-content: space-between;
  font-family: $mono;
  font-size: 3.5rem;

  &.text-center {
    display: block;
  }
}

.content {
  position: relative;
  max-width: $screen-md-min;
  margin: 0 auto;
  padding: $navigation-height-xs 0 $spacing-default;
}

.cta-box {
  padding: $spacing-default 0 $spacing-default*2;
}

.text-secondary {
  color: $color-secondary;
}

.text-normal {
  color: $txt-color;
}

.text-success {
  color: $color-success;
}

.text-warning {
  color: $color-warning;
}

.anchor {
  color: $color-secondary;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: 21px;
    padding-top: $spacing-default * 6;
  }
}

.btn {
  display: inline-block;
  outline: none;
  border: none;
  padding: $base-unit*2 $base-unit*3;
  background: $color-secondary;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
    background: darken($color-secondary, 10%);
  }

  &.btn-sm {
    height: 4rem;
    padding: $base-unit $base-unit*2;
    font-size: 1.4rem;
  }

  &.btn-xs {
    padding: $base-unit/2 $base-unit;
    font-size: 1.2rem;
    vertical-align: middle;
  }

  &:disabled {
    background: #adadad;

    &:hover {
      cursor: auto;
      background: #adadad;
    }
  }

  &.btn-plain {
    border: none;
    background-color: transparent;
    color: $color-secondary;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

}

.btn-reset {
  @include button-reset;
}

.dl-horizontal {
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-column-gap: $base-unit;
  grid-row-gap: $base-unit;
  margin: $base-unit*2 0;

  .term {
    // color: lighten($color-primary, 40%);
  }

  .description {
    font-weight: bold;
    overflow-x: hidden;
  }
}

.progress {
  width: 100%;
  background: #fff;

  .progress-bar {
    background: $color-secondary;
    height: $base-unit/2;
  }
}

.list {
  margin-top: $base-unit;

  &.grid {

    .list-items {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      align-items: start;
      padding: 0 $base-unit*2;
      grid-column-gap: $base-unit*2;
      grid-row-gap: $base-unit*4;

      @media (min-width: $screen-landscape-xs-min) {
        grid-template-columns: 1fr 1fr;
      }

      @media (min-width: $screen-sm-min) {
        grid-template-columns: 1fr 1fr 1fr;
      }
      .list-item {
        padding: 0;
        border-top:none;
      }
    }
  }

.list-header {
    min-height: $spacing-default*1.5;
}

  .list-search {
    padding: $base-unit $base-unit*2;
    margin-bottom: $base-unit*2;

    label {
      display: block;
      position: relative;
      color: rgba(0, 0, 0, .6);
    }

    .icon {
      position: absolute;
      top: 12px;
      left: 12px;
      font-size: 2.4rem;
      color: $border-color;

      & + input {
        padding-left: $base-unit*6;
      }
    }

    input {
      width: 100%;
    }
  }

  .list-view-switch {
    float: right;
    padding: 0 $base-unit;
    font-size: 3rem;

    button {
      color: map-get($palette, "gray-medium");
      cursor: pointer;

      &:hover {
        color: map-get($palette, "gray-dark");
      }
    }

    .active,
    .active:hover {
      color: #000;
    }
  }


  .list-dropdown {
    .list-dropdown-toggle {
      padding: $base-unit $spacing-default/2;
      font-size: 1.3rem;
      text-transform: capitalize;

      [class^="icon-"] {
        margin-left: 2px;
        font-size: 1.5rem;
      }
    }

    .list-dropdown-items {
      position: fixed;
      bottom: 0;
      width: 100%;
      background: #fff;
      box-shadow: $shadow-default;
      z-index: 1;

      @media (min-width: $screen-sm-min) {
        position: absolute;
        left: -$base-unit*3;
        bottom: auto;
        width: auto;
      }
    }

    &.list-cta {
      .list-dropdown-items {
        left: auto;
        right: 0;
      }
    }

    .list-dropdown-item {
      @include button-reset();
      display: flex;
      position: relative;
      width: 100%;
      padding: $base-unit*2 $spacing-default/2;
      background: #fff;
      text-align: left;
      text-transform: capitalize;
      z-index: 1;
      align-items: center;

      @media (min-width: $screen-sm-min) {
        width: auto;
        min-width: 300px;
        padding: $base-unit*2 $spacing-default/2;
      }

      &:hover {
        background:darken($bg-color, 5%);
      }

      &.active {
        color: $color-secondary;
      }

      [class^="icon-"] {
        display: block;
        width: $base-unit*2;
        margin-right: $base-unit;
        font-size: 1.6rem;
      }
    }

    .list-dropdown-title {
      display: flex;
      position: relative;
      width: 100%;
      padding: $base-unit*2 $spacing-default/2;
      background: #fff;
      text-align: left;
      z-index: 1;
      font-size: 1.3rem;
      font-weight: bold;
      border-bottom: 1px solid $list-border-color;
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;

      @media (min-width: $screen-sm-min) {
        display: none;
      }
    }

    .list-dropdown-backdrop {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      @media (max-width: $screen-sm-max) {
        background: rgba(0, 0, 0, .5);
      }
    }
  }

  .list-pagination {
    padding: $spacing-default 0 $spacing-default*2;
    text-align: center;
  }

  .list-item {
    display: flex;
    width: 100%;
    padding: $base-unit $base-unit*2;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $list-border-color;

    &.list-item-message {
      padding: $base-unit*2;
      font-weight: bold;
    }

    &.list-item-inverse {
      padding: $base-unit*2;
      background: $color-secondary;

      .list-item-title,
      .list-item-cta button {
        color: #fff!important;
      }
    }
  }

  .list-item-illustration {
    width: 100%;
    margin-bottom: $base-unit;
    background: #ccc;
  }

  .list-item-content {
    display: block;
    width: 100%;
    color: $color-light;
    word-break: break-word;
  }

  .list-item-title,
  .list-item-subtitle {
    display: block;
    color: $txt-color-accented;
  }

  .list-item-title {
    font-size: 2rem;
    line-height: 1.3;
  }

  .list-item-property {
    max-height: 7.4rem;
    overflow-x: hidden;
  }

  .list-item-cta {
    white-space: nowrap;

    & > * {
      margin-left: $base-unit;

      @media (min-width: $screen-md-min) {
        margin-left: $base-unit*2;
      }
    }

    [class^="icon-"] {
      font-size: 2rem;
    }
  }
}

input[type=text],
input[type=search],
input[type=password],
select {
  height: $form-elements-height;
  padding: $base-unit;
  background-color: #fff;
  color: #000;
  border: $border-default;
  border-radius: 0;
  font-family: $sans-serif;
}

.input-group {
  display: grid;
  grid-gap: .2rem 1rem;
  align-items: center;

  label {
    position: relative;
    color: rgba(0, 0, 0, .6);

    &.input-group-title {
      text-align: left;
      padding-top: 24px;
    }

    .input-label-icon {
      position: absolute;
      top: 19px;
      left: 12px;
      font-size: 2.4rem;
      color: $border-color;

      & + input {
        padding-left: $base-unit*6;
      }
    }
  }

  input,
  select,
  textarea {
    width: 100%;
    max-width: 100%;
    margin: 0 0 $base-unit*2;

    @media (min-width: $screen-sm-min) {
      min-width: 300px;
    }
  }

  textarea {
    height: 7em;
    padding: $base-unit;
  }

  select {
    overflow: auto;
  }

  small {
    display: block;
    padding: 0 0 8px 0;
    color: #ea272e;
    font-weight: bold;
    text-align: left;
    font-size: 80%;

    @media (max-width: $screen-sm-min) {
      margin-top: -12px;
    }
  }

  @media (min-width: $screen-sm-min) {
    grid-template-columns: 1fr auto 1fr;
    grid-gap: .5rem 1rem;

    label {
      text-align: right;
    }

    input,
    select,
    textarea {
      // width: 400px;
      // max-width: 400px;
      margin: 8px 0;
    }

    small {
      padding: 0 0 0 32px;
    }
  }
}

.inline-form {
  display: inline-flex;

  &.inline-form-sm {
    input[type=text],
    input[type=search],
    input[type=password],
    select {
      height: $form-elements-height-sm;
    }
  }
}

.form-messages {
  margin-top: $base-unit*2;
}

.message-success,
.message-error {
  text-align: center;
  font-weight: bold;
}

.message-success {
  color: $color-success;
}

.message-error {
  color: $color-secondary;
}

.heartbeat {
  margin-top: $navigation-height-xs;

  @media (min-width: $screen-sm-min) {
    margin-top: $navigation-height;
  }
}

.webcam-stream {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #adadad;
  color: map-get($palette, "gray-light");
  font-size: 2rem;
  cursor: pointer;

  &.unavailable {
    padding: $spacing-default*3 $spacing-default;
    cursor: auto;
  }

  img {
    width: 100%
  }
}

.webcam-modal {
  position: static;
  z-index: 4;
  top: 0;
  left: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;

  .modal-close {
    color: #fff;
  }

  .webcam-modal-stream {
    top:0;
    left:0;
    height: 90%;
    width: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  img.flip-horizontal {
    transform: scaleX(-1);
  }

  img.flip-vertical {
    transform: scaleY(-1);
  }

  img.rotate-90 {
    transform: rotate(90deg);
  }

  img.flip-horizontal.flip-vertical {
    transform: scaleX(-1) scaleY(-1);
  }

}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: $spacing-default*2 $spacing-default $spacing-default;
  background: #fff;
  box-shadow: $shadow-default;

  @media (min-width: $screen-sm-min) {
    width: 100%;
    min-width: 80rem;
    height: auto;
  }

  .modal-title {
    font-size: 2.4rem;
    margin-bottom: $spacing-default;
  }

  .cta-box {
    padding: $spacing-default*2 0 $spacing-default;
  }
}

.modal-close {
  @include button-reset;
  position: absolute;
  top: $spacing-default/2;
  right: $spacing-default/2;
  text-align: right;
  font-size: 2rem;
  cursor: pointer;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  @include blurred-bg(.4);
}

#passphrase-reveal {
  height: 100%;
  @include button-reset;
}

// PRINTER DETAIL PAGE
.printer-detail {
  .printer-detail-meta .main-title {
    margin-bottom: 0;

    @media (max-width: $screen-sm-max) {
      margin-top: $base-unit;
    }
  }


  @media (min-width: $screen-sm-min) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "meta stream"
    "jobs jobs";
    grid-gap: $spacing-default;

    .printer-detail-stream {
      padding-top: $spacing-default*3.8;
      grid-area: stream;
    }

    .printer-detail-meta {
      grid-area: meta;

      .main-title {
        margin-bottom: 0;
      }

      .dl-horizontal {
        grid-template-columns: 35% 1fr;
      }

    }

    .printer-detail-jobs {
      grid-area: jobs;
    }
  }
}

// API TOKEN PAGE
pre {
  padding: $spacing-default;
  margin-top: $spacing-default;
  background: map-get($palette, gray-light);
}

ul.ul-styled {
  list-style-type: square;
  margin-left: $spacing-default/1.5;
}
