// @import "fonts.css";
@import "reset.css";
@import "./icons/style.css";
@import "fonts";
@import "variables";
@import "mixins";


* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba($color-secondary, .75);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: $sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.618;
  letter-spacing: -0.015rem;
  color: $txt-color;
  background: $bg-color;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem
}

a {
  color: $txt-color;
}

strong, b {
  font-weight: 700;
}

small {
  font-size: 80%;
}

p {
  margin-bottom: $base-unit;
}

footer {
  width: 100%;
  padding: $spacing-default*3 0 $spacing-default*2;
  text-align: center;
}

.img-responsive {
  max-width: 100%
}

.text-center {
  text-align: center;
}

.text-reset {
  font-weight: normal;
  text-decoration: none;
  font-variant: normal;
}

.hidden {
  display: none;
}

.hidden-xs {
  display: none!important;

  @media (min-width: $screen-sm-min) {
    display: block!important;
  }
}

.visible-xs {
  @media (min-width: $screen-sm-min) {
    display: none!important;
  }
}

.hidden-xs-inline {
  display: none!important;

  @media (min-width: $screen-sm-min) {
    display: inline-block!important;
  }
}

.visible-sm {
  @media (min-width: $screen-md-min) {
    display: none!important;
  }
}

.visible-md {
  display: none;

  @media (min-width: $screen-md-min) {
    display: block;
  }
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navigation-height-xs;
  padding: 0 $spacing-default/2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  @include blurred-bg;

  .navigation-brand {
    display: inherit;
    img {
      height: $logo-height-xs;
    }
  }
  .navigation-items {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background: $bg-color;
    font-size: $navigation-font-size-xs;
    padding-top: 10rem;
    line-height: 2;
    @include blurred-bg(.95);
  }
  .navigation-toggle {
    font-size: 3rem;
    z-index: 1;
    outline: none;
    padding: 0;
    @include button-reset;

    &:hover {
      cursor: pointer;
    }
  }
}

.main {
  background: $bg-color;
}

.container {
  padding: 0 $spacing-default/2;
}

.main-title {
  display: flex;
  width: 100%;
  margin: $base-unit*2 0 $spacing-default;
  align-items: center;
  justify-content: space-between;

  &.text-center {
    display: block;
  }
}

.content {
  position: relative;
  max-width: $screen-md-min;
  margin: 0 auto;
  padding: $navigation-height-xs 0 $spacing-default;

  .container .main-title{
    margin-top: $spacing-default*2;
  }

  .container:first-child .main-title {
      margin-top: $base-unit*2
    }
}

.cta-box {
  padding: $spacing-default 0 $spacing-default*2;
}

.text-secondary {
  color: $color-secondary;
}

.text-normal {
  color: $txt-color;
}

.text-success {
  color: $color-success;
}

.text-warning {
  color: $color-warning;
}

.anchor {
  color: $color-secondary;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: 21px;
    padding-top: $spacing-default * 6;
  }
}

.btn {
  display: inline-block;
  outline: none;
  border: none;
  padding: $base-unit*2 $base-unit*3;
  background: $color-secondary;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    background: darken($color-secondary, 10%);
  }

  &.btn-sm {
    padding: $base-unit $base-unit*2;
    font-size: 1.1rem;
  }

  &:disabled {
    background: #adadad;

    &:hover {
      cursor: auto;
      background: #adadad;
    }
  }

  &.btn-plain {
    border: none;
    background-color: transparent;
    color: $color-secondary;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

}

.btn-reset {
  @include button-reset;
}

.dl-horizontal {
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-column-gap: $base-unit;
  grid-row-gap: $base-unit;
  margin: $base-unit*2 0;

  .term {
    // color: lighten($color-primary, 40%);
  }

  .description {
    font-weight: bold;
    overflow-x: hidden;
  }
}

.tabs-navigation {
  display: flex;
  margin-bottom: $base-unit;
  align-items: center;
  border-bottom: 1px solid $border-color;
  list-style: none;

  .tab {
    padding: $base-unit $base-unit*2;
  }

  .active {
    margin-bottom: -1px;
    border-bottom: 3px solid $color-secondary;
    font-weight: bold;
  }
}

.tabs-content {
  margin-bottom: $spacing-default;

  .item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: $base-unit 0;

    small {
      display: block;
    }

    [class^="icon-"] {
      margin-left: $base-unit;
      font-size: 2rem;
    }
  }
}

.progress {
  width: 100%;
  background: #fff;
  // border-top: 1px solid #fff;

  .progress-bar {
    background: $color-secondary;
    height: $base-unit/2;
  }
}

.list {
  margin-top: $base-unit;

  .list-header {}

  .list-search {
    padding: $base-unit $base-unit*2;
    margin-bottom: $base-unit*2;

    label {
      display: block;
      position: relative;
      color: rgba(0, 0, 0, .6);
    }

    .icon {
      position: absolute;
      top: 12px;
      left: 12px;
      font-size: 2.4rem;
      color: $border-color;

      & + input {
        padding-left: $base-unit*6;
      }
    }

    input {
      width: 100%;
    }
  }

  .list-dropdown {
    .list-dropdown-toggle {
      padding: $base-unit $spacing-default/2;
      font-size: 1.3rem;
      text-transform: capitalize;

      [class^="icon-"] {
        margin-left: 2px;
        font-size: 1.5rem;
      }
    }

    .list-dropdown-items {
      position: absolute;
      width: 100%;
      background: #fff;
      box-shadow: $shadow-default;

      @media (min-width: $screen-sm-min) {
        left: -$base-unit*3;
        width: auto;
      }
    }

    &.list-cta {
      .list-dropdown-items {
        left: auto;
        right: 0;
      }
    }

    .list-dropdown-item {
      @include button-reset();
      position: relative;
      display: flex;
      width: 100%;
      padding: $base-unit*2 $spacing-default/2;
      background: #fff;
      text-align: left;
      z-index: 1;
      text-transform: capitalize;
      z-index: 200;

      @media (min-width: $screen-sm-min) {
        width: auto;
        min-width: 300px;
        padding: $base-unit*2 $spacing-default/2;
      }

      &:hover {
        background:darken($bg-color, 5%);
      }

      &.active {
        color: $color-secondary;
      }

      [class^="icon-"] {
        display: block;
        width: $base-unit*2;
        margin-right: $base-unit;
        font-size: 1.6rem;
      }
    }

    .list-dropdown-backdrop {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .list-pagination {
    padding: $spacing-default 0 $spacing-default*2;
    text-align: center;
  }

  .list-item {
    display: flex;
    width: 100%;
    padding: $base-unit $base-unit*2;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $list-border-color;

    &.list-item-message {
      padding: $base-unit*2;
      font-weight: bold;
    }

    &.list-item-inverse {
      padding: $base-unit*2;
      background: $color-secondary;

      .list-item-title,
      .list-item-cta button {
        color: #fff!important;
      }
    }
  }

  .list-item-content {
    display: block;
    color: $color-light;
    word-break: break-all;
  }

  .list-item-title,
  .list-item-subtitle {
    display: block;
    color: $txt-color-accented;
  }

  .list-item-title {
    font-size: 1.618rem;
  }

  .list-item-cta {
    white-space: nowrap;

    & > * {
      margin-left: $base-unit;

      @media (min-width: $screen-md-min) {
        margin-left: $base-unit*2;
      }
    }

    [class^="icon-"] {
      font-size: 2rem;
    }
  }
}

input[type=text],
input[type=search],
input[type=password],
select {
  height: $form-elements-height;
  padding: $base-unit;
  background-color: #fff;
  color: #000;
  border: $border-default;
  border-radius: 0;
  font-family: "Monoid", sans-serif;
}

.input-group {
  display: grid;
  grid-gap: .2rem 1rem;
  align-items: center;

  label {
    position: relative;
    color: rgba(0, 0, 0, .6);

    &.input-group-title {
      text-align: left;
      padding-top: 24px;
    }

    .input-label-icon {
      position: absolute;
      top: 19px;
      left: 12px;
      font-size: 2.4rem;
      color: $border-color;

      & + input {
        padding-left: $base-unit*6;
      }
    }
  }

  input,
  select,
  textarea {
    width: 100%;
    max-width: 100%;
    margin: 0 0 $base-unit*2;

    @media (min-width: $screen-sm-min) {
      min-width: 300px;
    }
  }


  select {
    overflow: auto;
  }

  small {
    display: block;
    padding: 0 0 8px 0;
    color: #ea272e;
    font-weight: bold;
    text-align: left;
    font-size: 80%;

    @media (max-width: $screen-sm-min) {
      margin-top: -12px;
    }
  }

  @media (min-width: $screen-sm-min) {
    grid-template-columns: 1fr auto 1fr;
    grid-gap: .5rem 1rem;

    label {
      text-align: right;
    }

    input,
    select,
    textarea {
      // width: 400px;
      // max-width: 400px;
      margin: 8px 0;
    }

    small {
      padding: 0 0 0 32px;
    }
  }
}

.inline-form {
  display: inline-flex;

  &.inline-form-sm {
    input[type=text],
    input[type=search],
    input[type=password],
    select {
      height: $form-elements-height-sm;
    }
  }
}

.message-error {
  text-align: center;
  font-weight: bold;
  color: $color-secondary;
}

.heartbeat {
  margin-top: $navigation-height-xs;

  @media (min-width: $screen-sm-min) {
    margin-top: $navigation-height;
  }
}

.webcam-stream {
  display: flex;
  min-height: 200px;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #adadad;
  color: map-get($palette, "gray-light");
  font-size: 2rem;
  cursor: pointer;

  &.unavailable {
    cursor: auto;
  }

  &.maximized {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .8);

    .overlay {
      height: 90%;
      width: 90%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  img {
    width: 100%
  }
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: $spacing-default*2 $spacing-default $spacing-default;
  background: #fff;
  box-shadow: $shadow-default;

  @media (min-width: $screen-sm-min) {
    width: 100%;
    height: auto;
  }

  .modal-title {
    font-size: 2.4rem;
    margin-bottom: $spacing-default;
  }
}

.modal-close {
  @include button-reset;
  position: absolute;
  top: $spacing-default/2;
  right: $spacing-default/2;
  text-align: right;
  font-size: 2rem;
  cursor: pointer;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  @include blurred-bg(.4);
}

#passphrase-reveal {
  height: 100%;
  @include button-reset;
}

// PRINTER DETAIL PAGE
.printer-detail {
  .printer-detail-meta .main-title {
    margin-bottom: 0;
  }

  @media (min-width: $screen-sm-min) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "meta stream"
    "jobs jobs";
    grid-gap: $spacing-default;

    .printer-detail-stream {
      grid-area: stream;
    }

    .printer-detail-meta {
      grid-area: meta;

      .main-title {
        margin-bottom: 0;
      }

      .dl-horizontal {
        grid-template-columns: 35% 1fr;
      }

    }

    .printer-detail-jobs {
      grid-area: jobs;
    }
  }
}

// API TOKEN PAGE
pre {
  padding: $spacing-default;
  margin-top: $spacing-default;
  background: map-get($palette, gray-light);
}

ul.ul-styled {
  list-style-type: square;
  margin-left: $spacing-default/1.5;
}
