// @import "fonts.css";
@import "reset.css";
@import "./icons/style.css";
@import "fonts";
@import "variables";
@import "mixins";


* {
    box-sizing: border-box;
}
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba($color-secondary, .75);
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: $sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.618;
    letter-spacing: -0.015rem;
    color: $txt-color;
    background: $bg-color;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.2rem
}

a {
    color: $txt-color;
}

strong, b {
    font-weight: 700;
}

small {
    font-size: 80%;
}

p {
    margin-bottom: $base-unit;
}

footer {
  width: 100%;
  padding: $spacing-default*3 0 $spacing-default*2;
  text-align: center;
}

.img-responsive {
    max-width: 100%
}

.text-center {
    text-align: center;
}

.hidden {
  display: none;
}

.hidden-xs {
    display: none!important;

    @media (min-width: $screen-sm-min) {
        display: block!important;
    }
}

.visible-xs {
    @media (min-width: $screen-sm-min) {
        display: none!important;
    }
}

.hidden-xs-inline {
    display: none!important;

    @media (min-width: $screen-sm-min) {
        display: inline-block!important;
    }
}

.visible-sm {
    @media (min-width: $screen-md-min) {
        display: none!important;
    }
}

.visible-md {
    display: none;

    @media (min-width: $screen-md-min) {
        display: block;
    }
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navigation-height-xs;
  padding: 0 $spacing-default/2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  @include blurred-bg;

  .navigation-brand {
    display: inherit;
    img {
      height: $logo-height-xs;
    }
  }
  .navigation-items {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background: $bg-color;
    font-size: $navigation-font-size-xs;
    padding-top: 10rem;
    line-height: 2;
    @include blurred-bg(.95);
  }
  .navigation-toggle {
    font-size: 3rem;
    z-index: 1;
    outline: none;
    @include button-reset;

    &:hover {
      cursor: pointer;
    }
  }
}

.main {
  background: $bg-color;
}

.container {
  padding: 0 $spacing-default/2;
}

.content {
  max-width: $screen-md-min;
  margin: 0 auto;
  padding: $navigation-height-xs 0 $spacing-default;
}

.main-title {
  display: flex;
  width: 100%;
  margin: $base-unit*2 0 $spacing-default;
  align-items: center;
  justify-content: space-between;
}

.cta-box {
  padding: $spacing-default 0 $spacing-default*2;
}

.text-secondary {
  color: $color-secondary;
}

.text-normal {
  color: $txt-color;
}

.text-success {
  color: $color-success;
}

.text-warning {
  color: $color-warning;
}

.anchor {
  color: $color-secondary;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.btn {
  display: inline-block;
  outline: none;
  border: none;
  padding: $base-unit*2 $base-unit*3;
  line-height: 1;
  background: $color-secondary;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }

  &.btn-sm {
    padding: $base-unit $base-unit*2;
    font-size: 1.1rem;
  }

  &.btn-secondary {
    background: #adadad;
  }

  &.btn-plain {
    border: none;
    background-color: transparent;
    color: $color-secondary;
    text-decoration: underline;
  }
}

.dl-horizontal {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: $base-unit;
  grid-row-gap: $base-unit;
  margin: $base-unit*2 0;

  .term {
    // color: lighten($color-primary, 40%);
  }

  .description {
    font-weight: bold
  }
}

.tabs-navigation {
  display: flex;
  margin-bottom: $base-unit;
  align-items: center;
  border-bottom: 1px solid $border-color;
  list-style: none;

  .tab {
    padding: $base-unit $base-unit*2;
  }

  .active {
    margin-bottom: -1px;
    border-bottom: 3px solid $color-secondary;
    font-weight: bold;
  }
}

.tabs-content {
  margin-bottom: $spacing-default;

  .item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: $base-unit 0;

    small {
      display: block;
    }

    [class^="icon-"] {
      margin-left: $base-unit;
      font-size: 2rem;
    }
  }
}

.progress {
  width: 100%;
  background: #fff;
  // border-top: 1px solid #fff;

  .progress-bar {
    background: $color-secondary;
    height: $base-unit/2;
  }
}

.list {
  margin-top: $base-unit;

  .list-item {
    display: flex;
    width: 100%;
    padding: $base-unit $base-unit*2;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $border-color;
  }

  .list-item-content {
    display: block;
    color: $color-light;
  }

  .list-item-title,
  .list-item-subtitle {
    display: block;
    color: $txt-color-accented;
  }

  .list-item-title {
    font-size: 1.618rem;
  }
  [class^="icon-"] {
    font-size: 2rem;
  }

  .list-item-cta > * {
    margin-left: $base-unit*2
  }
}

input[type=text],
input[type=password],
select {
  height: 46px;
  padding: 8px;
  background-color: #fff;
  color: #000;
  border: 1px solid #979797;
  border-radius: 0;
  font-family: "Monoid", sans-serif;
}

.input-group {
  display: grid;
  grid-gap: .2rem 1rem;
  align-items: center;

  label {
    padding-top: 8px;
    color: rgba(0, 0, 0, .6);

    &.input-group-title {
      text-align: left;
      padding-top: 24px;
    }
  }

  input,
  select,
  textarea {
    width: 100%;
    max-width: 100%;
    margin: 8px 0;
  }


  select {
    overflow: auto;
  }

  small {
    display: block;
    padding: 0 0 8px 0;
    color: #ea272e;
    font-weight: bold;
    text-align: left;
    font-size: 80%
  }

  @media (min-width: $screen-sm-min) {
    grid-template-columns: 1fr auto 1fr;
    grid-gap: .5rem 1rem;

    label {
      padding-top: 0;
      text-align: right;
    }

    input,
    select,
    textarea {
      width: 400px;
      max-width: 400px;
      margin: 8px 0;
    }

    small {
      padding: 0 0 0 32px;
    }
  }
}


#passphrase-reveal {
  height: 100%;
  @include button-reset;
}
